name: 'coverage'
on:
    pull_request:
        branches:
            - main
jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v3
            with:
              python-version: 3.9
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              python -m pip install flake8 pytest
              python -m pip install pip-tools pytest-cov
              pip-compile --output-file=requirements.txt
              if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          - name: Coverage with pytest
            run: pytest --cov-report xml:coverage.xml
          - name: Get Cover
    
            uses: orgoro/coverage@v3.2
            
            with:
                coverageFile: ./coverage.xml
                token: ${{ secrets.GITHUB_TOKEN }}
